workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -80
      ],
      "id": "86379ea4-da60-4ef0-8b89-1de9d05e5c95",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://meme-api.com/gimme/pcmasterrace/3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        -80
      ],
      "id": "6a0ea0be-16bf-42eb-9cdb-d4759014e484",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a savage, witty Gen-Z gamer and the admin for the premium Facebook meme page 'Glitch & Gear'. \nYour task is to write a highly engaging, relatable 1-line reaction caption for this gaming meme.\n\nMeme Title: {{ $json.title }}\n\nStrict Rules to Follow:\n1. Write ONLY a single, punchy, funny sentence or modern gamer reaction line (e.g., \"Bro took it personally 💀\", \"This hits way too close to home 😭\", \"Every single midnight 🤡\", \"Skill issue, honestly\").\n2. Keep it ultra-short (under 10-15 words) so users can read it instantly while scrolling.\n3. Use max 1-2 trending gaming emojis (💀, 😭, 🤡, 🎮). No formal or corporate emojis.\n4. Do NOT summarize the meme. Do NOT write long bullet points or lists.\n5. Always end with these hashtags: #glitchandgear #gamingmemes #gamerlife #pcmasterrace\n6. NO intro, NO outro, output ONLY the final caption text.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        96,
        -80
      ],
      "id": "08f13ce8-3b2c-41db-b0c7-0f6854037f51",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "fCueboaD2qUL2Izv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "memes",
        "include": "={{ $json.memes }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -352,
        -80
      ],
      "id": "0e83016c-28c8-4d13-a181-5114dd68b2d3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -112,
        -80
      ],
      "id": "8f565b67-a956-4165-a2cb-cd1514f91d1d",
      "name": "Wait",
      "webhookId": "a4649d49-a238-4aa0-ad31-bea991b83814"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v20.0/1162783306909711/photos",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.content.parts[0].text }}"
            },
            {
              "name": "url",
              "value": "={{ $('Split Out').item.json.memes.url }}"
            },
            {
              "name": "published",
              "value": "false"
            },
            {
              "name": "scheduled_publish_time",
              "value": "={{ Math.floor(DateTime.now().plus({ hours: $itemIndex + 1 }).toSeconds()) }}"
            },
            {
              "name": "access_token",
              "value": "EAAY6sZBaLa0ABRWiZBbSsUxZBp090RZA43DFYYMFCdHbBLLBSzJvMMJfRr4WKwIj6UTiv1NyU2c4UsZAmoetHCb4MeON4INLzR0rIg2YrcQNxZCblngmqZAh0UCQw5NopjVypVTKGQ7Pbo0a44dmqLIQnDTHx98rQPCJlx8lFui13tUqAjZCqpyqw4X35sRQr7TBS6Ff95ZBq"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -80
      ],
      "id": "92cca328-69f6-4722-b549-0857be620029",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65b07e996567268fe2fc37f27f9caf1690b19427804d064e98096a5ceba66427"
  }
}